{
   "singleQuote": true,
   "trailingComma": "all",
   "printWidth": 100,
   "tabWidth": 3,
   "semi": false,
   "overrides": [
     {
       "files": ".prettierrc",
       "options": { "parser": "babel" }
     }
   ]
 }